@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
box-sizing: border-box;
}

body {
  background-color: #798071; /* 646E78 553739 */
  font-family: 'Outfit', sans-serif;
  margin: 0;
}

nav {
  background-color: #553739;
  display: flex;
  justify-content: flex-end;
  color: white;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

nav a {
  color: white;
  position: relative;
  margin-left: 30px;
  text-decoration: none;
}

nav a::after {
  content: '';
  border-bottom: 3px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(10px);
  transition: transform 0.3s ease;
  opacity: 0;
  width: 100%;
    height: 100%;
}

nav a:hover::after {
  opacity: 1;
  transform: translateY(0);
}
  


header {
  background-image: url(https://images.unsplash.com/photo-1626908013351-800ddd734b8a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=772&q=80);
  background-size: cover;
  background-position: center center;
  color: white;
 display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}


header::after {
  content: '';
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.75;
}

header * {
  position: relative;
  z-index: 1;
}

header h1 {
  font-size: 55px;
  margin-bottom: 5px;
  margin-top: 0;
}

header p {
  font-size: 18px;
  margin: 0;
  margin-left: 30px;
}


section{
  padding: 40px;
  text-align: center;
}

section h2 {
  margin: 0px;
}

section p{ 
margin-top: 0px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  max-width: 960px;
  margin: 20px auto 0;
}

.project-tile {
  color: #000;
  margin: 20px;
  max-width: 300px;
  transition: transform 0.3s ease;
}

.project-tile:hover {
transform: scale(1.05)
}

.project-tile img {
  max-width: 100%;
}

.project-tile p{
  font-size: 20px;
  margin-top: 10px;
}

.social-color{
  background-color: #646E78;
  color: white;
}

.social-ul {
  display: flex;
  flex-wrap: wrap;
    list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.social-ul a {
  border-radius: 50%;
  border: 1px solid #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
    margin: 5px 10px;
  width: 50px;
  height: 50px;
    text-decoration: none;
}

footer {
  background-color: #553739;
  color: white;
  padding: 10px;
  text-align: center;
}

@media (max-width: 440px) {
  section{
    padding: 20px;
  }
}